<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CourseDao">


    <insert id="insert" parameterType="com.baizhi.entity.Course">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into cmfz_course (title,marking,datetime)
        value (#{title},#{marking},#{datetime})
    </insert>

    <select id="queryAll" resultType="com.baizhi.entity.Course">
  	  select id,title,marking,datetime from cmfz_course
    </select>

    <delete id="delete" parameterType="int">
  	  delete from cmfz_course where id=#{id}
    </delete>


    <select id="queryByPage" resultType="com.baizhi.entity.Course">
       select id,title,marking,datetime from cmfz_course limit #{start},#{rows}
    </select>

    <select id="queryTotals" resultType="long">
       select count(id) from cmfz_course
    </select>

</mapper>
